[2019-06-27 18:31] jwflory opened #4 "Contributing guidelines link to themselves (an empty document)"
This repo includes [contributing guidelines](https://github.com/containers/common-files/blob/master/.github/CONTRIBUTING.md), but it is a one-line document that links to itself. It would be helpful to add expectations for contributing to this repo or what exactly is supposed to live here / how people should contribute.

[2019-06-27 18:39] jwflory opened #5 "Include containers-common files in this repository for easier packaging"
# Summary

Add configuration files included in [Fedora dist-git repo](https://src.fedoraproject.org/rpms/skopeo/tree/master) in this repository

# Background

For my use case, I want to package a new version of `skopeo` in a RHEL environment in a custom build environment. In official Fedora/RHEL upstream, there is also the `containers-common`/`skopeo-containers` package that includes a handful of

[2019-06-27 19:26] rhatdan commented on #5
Some of these are distribution specific.  Such as registries.conf and mounts.conf.  What would you suggest as the defaults

  | containers-certs.d.5.md
-- | --
  | containers-mounts.conf.5.md -  Belongs to Continers/storage
  | containers-policy.json.5.md -  Belongs to Continers/image
  | containers-registries.conf.5.md -  Belongs to Continers/image
  | containers-registries.d.5.md   -  Belongs to

[2019-06-27 19:41] jwflory commented on #5
@rhatdan Truthfully I am only interested in `registries.conf` for private registries, but I assume it is used by both podman and buildah, maybe others. Maybe it makes sense to include it with podman/libpod but I don't have an informedd-enough opinion to give a meaningful suggestion.

However, I don't see an issue with moving these files upstream in this GitHub org and still choosing to be opiniona

[2019-06-27 21:35] rhatdan commented on #5
My point being that containers-registries.conf is actually already in containers/image and containers-storage.conf and containers-mounts.conf is in containers/storage.  If we move them here then they are not in the actual libraries that use these configuration files.  Bottom line is I am not sure where it is best to put them.  If github.com had a way to link the repos, that would be best, in my op

[2019-06-27 21:37] jwflory commented on #5
Could it be done with git submodules?

[2019-06-28 09:32] vrothberg commented on #5
I understand the motivation for your request but distributions are too different to have one-size-fits-all solution. Moving those files here would also complicate development a bit more as those files have to injected in some way, and changes would cross project borders.

Having those files in the specific projects gives packagers the flexibility to chose what they need; certainly at the cost of c

[2019-06-28 10:08] barthalion commented on #5
Arch does ship common configuration files with skopeo packages, mostly because I've been basing my work on Fedora's packages. I'd be happy to split it if there was a canonical source for sane default configuration.

[2019-06-28 13:04] rhatdan commented on #5
Sure I would love to get containers-common out of skopeo package and have it ship on its own.  Not tied to Skopeo.  This would be the long term plans for Fedora/RHEL and eventually Centos.

But linking the Repos some how to make assembly of the configuration files and man pages into containers-common, might be the best possible solution.

I am not sure submodules will work, since submodules are ti

[2019-06-28 13:09] vrothberg commented on #5
`git submodules` can do the linking. This would allow to git-clone c/image, c/storage, c/libpod here to access all the required files.

[2019-07-08 16:17] #4 closed

[2019-11-12 18:33] barthy1 opened #15 "No License Specified"
Could you please add license information to the repo?

[2019-11-14 19:15] Spindel opened #16 "containers doesn't set up image signing by default"
Since containers and `podman` implement policy and image signing by default, it feels strange that it defaults these to be unsigned for the repositories that it enables that _should_ have signed images.

This includes `registry.fedoraproject.org`  `registry.access.redhat.com`,  `registry.centos.org`   as a user, I'd expect Fedora to be able to provide the same level of security for their modern to

[2019-11-16 15:33] rhatdan commented on #15
@vrothberg could you take care of this?

[2019-11-18 09:46] vrothberg commented on #15
Done :heavy_check_mark:

[2019-11-18 16:00] #15 closed

[2019-11-18 16:01] rhatdan commented on #5
@vrothberg any time to work on this?

[2019-11-18 16:25] vrothberg commented on #5
It would be very low on priority compared to other tasks I am currently working on. I prefer to keep it open if others want to take over.

[2019-11-18 17:41] TomSweeneyRedHat opened #18 "When containers.conf file is overridden by libpod.conf, print warning in `podman info`"
This is a place holder for a bug that isn't yet a bug!  ;^)  Work is well underway to create a containers.conf file that will be used by Podman, Buildah, Skopeo and perhaps more container technologies.   The current design is at the start, the libpod.conf file will be used by Podman if that file and also the container.conf file are present on the machine.  When that occurs, we should change the ou

[2019-12-23 14:03] rhatdan opened #30 "Add storage options to make it easy to setup storage for rootless."
https://github.com/containers/libpod/issues/4551

[2019-12-23 14:04] rhatdan opened #31 "possibility to set a proxy directly in podman instead of set the system wide environment variable"
https://github.com/containers/libpod/issues/4543

[2019-12-23 17:00] vrothberg commented on #30
I wonder if we should put that into `storage.conf` instead? Are there rules to discriminate which kinds of options go into storage.conf and which into containers.conf?

(copied from containers/libpod#4551)

This sounds like something, where I initially think of a `storage.Graphroot(user string) (string, error)` and let c/storage do the magic.

[2019-12-24 11:49] rhatdan commented on #30
I am fine with that. and it makes some sense.  I started working on a patch to handle this yesterday.  I can see about moving it into container/storage.  I will push a WIP PR so we can record it.

[2020-02-05 13:25] cbergmann opened #56 "SVG Logo"
Is there a SVG Variant of the containers logo? I want to use it in a logo for a internal project. I think this should be fine with the apache License or am I wrong?

[2020-02-05 19:54] rhatdan commented on #56
@mairin Could you answer this question.  I think the logo is under Creative Commons.

[2020-02-05 20:01] mairin commented on #56
We don't usually use open licenses on logos because of trademark concerns. But you have my permission (as the creator) to use it for your project.  I have been thinking about revamping it a bit though, I was actually coincidentally looking at it today. If I make changes I'll let you know!

(It looks like GitHub won't let me attach the SVG here, can you drop me an email duffy@redhat.com and I'll at

[2020-02-05 20:11] mairin commented on #56
(BTW this is the kind of revamp I have been contemplating... it angles the heptagons a bit to square off the logo more)

![containers-logo_full-vert_feb2020](https://user-images.githubusercontent.com/799683/73879089-d9040600-4829-11ea-85d0-f7cf2f2a753d.png)

[2020-02-06 19:50] mairin commented on #56
@cbergmann just sent them! let me know if you have any issues!
@rhatdan we can probably close this now!

[2020-02-06 19:58] #56 closed

[2020-02-17 23:00] ArangoGutierrez opened #62 "Add annotations into containers.conf file"
With the upcoming feature of containers.conf file, having the ability to hard code "--annotation" oci hooks into the conf file will be a good idea and a very handy tool to have.

This will open the door for sysadmins or even users to hard code ocihooks to prepare the environment, bindmount GPU drivers based on nvidia-smi bin or other related use cases, as to also hard code a clean up process for P

[2020-02-18 08:56] vrothberg opened #64 "Add stop-timeout field"
Add a field for the stop-timeout; the timeout to wait before shooting with SIGKILL. Podman uses a hard-coded default of 10 seconds which is not enough on some machines (e.g., VMs with low resources).

Cc: @mheon @rhatdan

[2020-02-18 19:30] #62 closed

[2020-02-20 08:48] rhatdan commented on #30
Current PR. https://github.com/containers/storage/pull/529

[2020-02-20 08:49] rhatdan commented on #18
We are dropping support for libpod.conf or at least overriding it with containers.conf.

[2020-02-20 08:49] #18 closed

[2020-02-21 12:59] #30 closed

[2020-02-21 13:01] rhatdan commented on #5
@TomSweeneyRedHat could you look into linking the files from the other repos similar to you did with the CODE-OF-CONDUCT.md?

Would that satisfy this need?

[2020-03-21 11:48] rhatdan commented on #64
Looks like this is done.

[2020-03-21 11:48] #64 closed

[2020-04-29 15:33] vrothberg opened #130 "login/logout should support an empty registry"
The auth API should support empty registries. In that case, we need to pick the _first item_ in the search list in the `registries.conf` (or error out if it's empty).

[2020-04-29 15:39] vrothberg commented on #130
FYI @QiWang19 @mtrmac @rhatdan

[2020-04-29 16:26] mtrmac commented on #130
(Just a thought. On balance I think being consistent is a bit more important, but voicing this just in case this was not considered.

Given how treacherous the behavior of defaulting to `registries.conf` is (the user should _really very much care_ which registry receives the credentials, especially in automated setups), it is somewhat attractive to have this behavior only in Podman, which is const

[2020-05-18 07:47] saschagrunert opened #155 "Integration into CRI-O"
Hey,

I'm wondering what the plans for an integration of this project (especially the configuration part) into CRI-O are. Is the idea that CRI-O migrates to libpod in the first place or do we want to create a configuration middle-layer based on containers/common?

[2020-05-18 08:38] vrothberg commented on #155
@rhatdan PTAL

I don't know of concrete plans. While I enjoy the thought of sharing a much code as possible, CRI-O has a pretty sophisticated config system already with `crio.conf` and `crio.conf.d` and many depend on that. The costs of moving to containers.conf (for users and dependencies) may be higher than the benefits. But maybe @rhatdan has something planned :)

[2020-05-18 19:45] rhatdan commented on #155
I would love to merge them together at some point, but as @vrothberg Says CRI-O has a nice system now.   containers/common was originally started with this code.  I think containers.conf needs more flexibility the crio.conf, since there could be more users.  But if we were to eventually merge cri-o to use libpod, we would definitely look at containers/common use.

[2020-05-19 06:58] saschagrunert commented on #155
Okay thanks for the clarification. Let's close this one for now.

[2020-05-19 06:58] #155 closed

[2020-05-27 22:29] baude opened #165 "make container common windows safe"
For the podman-remote-windows client, we need containers common's func (c *Config) Validate() error to be windows safe.  At present, it chokes on validating /var/lib/...  ... for windows and probably networking, this should be a no-op.

needed for podman-2

[2020-05-27 22:29] baude commented on #165
@rhatdan fyi

[2020-06-05 20:38] QiWang19 commented on #130
Close this issue since #135 merged

[2020-06-05 20:38] #130 closed

[2020-06-23 17:22] QiWang19 commented on #31
can this be closed? From comments https://bugzilla.redhat.com/show_bug.cgi?id=1682970, supported proxy settings under `env` of containers.conf is a way to fix this.

[2020-06-25 10:18] rhatdan commented on #31
I am not sure I enabled their desired change. What they wanted was to be able to set the HTTP_PROXY environment inside of containers.conf and have it apply to Podman,  currently they only apply to the internal containers, and not to Podman.

[2020-06-25 10:21] rhatdan commented on #31
@QiWang19 Could you add something like engine env to containers.conf and then we can read this environment and set it in the engine during their main()  That way the pulling and pushing will use the environment and satisfy this requirement.

[2020-06-30 10:14] #31 closed

[2020-07-22 10:54] vrothberg commented on #165
@rhatdan does it still apply?

I didn't touch Windows since some security courses at school :^)

[2020-07-22 11:08] rhatdan commented on #165
I think we compile on  windows, so I am going to close.

[2020-07-22 11:08] #165 closed

[2020-07-22 11:08] rhatdan commented on #16
@QiWang19 PTAL, We should finally fix the rootless image signing issues.

[2020-07-22 11:09] rhatdan commented on #5
@TomSweeneyRedHat Did you ever look into this?

[2020-07-22 15:34] TomSweeneyRedHat commented on #5
I've not, it's been rotting in my bit bucket.

[2020-07-31 12:54] vrothberg opened #240 "InfraCommand should be `[]string` not `string`"
The [InfraCommand](https://github.com/containers/common/blob/fce2cad99c2cf1fa071b14e5cd785bce455acefa/pkg/config/config.go#L235) should be a string slice. Limiting it to a single string excludes quite a some use cases where users want or need to specify arguments.

Not sure how to handle backwards compat.

@rhatdan @mheon @QiWang19 WDYT?

I was browsing through our stack while working on https://g

[2020-07-31 13:03] vrothberg commented on #240
Closing for now to keep the discussion in https://github.com/containers/podman/issues/7167

[2020-07-31 13:03] #240 closed

[2020-08-03 17:09] rhatdan commented on #16
@QiWang19 Have you looked at this?

[2020-08-03 17:57] QiWang19 commented on #16
Is this GPG verification that should be default configured in containers-policy.json?

[2020-08-03 18:25] rhatdan commented on #16
I am thinking of podman image sign requirements?  Where are the signatures stored for rootless containers?  Rootfull Containers?  Is this configured in registries.conf on containers.conf?

[2020-08-03 19:19] QiWang19 commented on #16
The signatures stores are configured in the YAML files under containers-registries.d. The default storage path should work for rootfull containers. I will work on the rootless signature storage issue after the https://github.com/containers/podman/issues/6993 and https://github.com/containers/podman/issues/6994 get fixed.

[2020-08-17 17:42] yannh opened #263 ""EOF" reading from registry should be retryable in Skopeo sync"
Dockerhub requests occasionally do not complete, see the following errors:

[code]

Those are not detected as retryable, and will cause a Skopeo Sync job to fail. Could these be marked as retryable?

[2020-08-17 17:42] rhatdan commented on #263
@QiWang19 PTAL

[2020-08-17 17:42] rhatdan commented on #263
@mtrmac Done

[2020-08-19 09:04] saschagrunert opened #270 "Consider moving seccomp/containers-golang into containers/common"
Hey :wave:, I'm not sure about the ownership implications but do you mind moving [seccomp/containers-golang](https://github.com/seccomp/containers-golang) into this library? We have the Capability and AppArmor handling already here in place and I think it would be a good fit. WDYT?

[2020-08-19 12:53] rhatdan commented on #270
Well the same basic team is maintaining both.  Not sure if it would offend the seccomp group if we moved it.

[2020-08-19 12:53] rhatdan commented on #270
@vrothberg @giuseppe WDYT?

[2020-08-19 13:44] giuseppe commented on #270
do we know if there are other users for that package that we might break?

I don't mind moving it, one dependency less seems like a good idea.

[2020-08-19 14:16] vrothberg commented on #270
I also enjoy the idea of having less dependencies but I don't want to take the blame for potentially breaking other users. But please don't count this as a NACK :^)

[2020-08-19 19:10] rhatdan commented on #270
@pcmoore WDYT?

[2020-08-19 20:44] pcmoore commented on #270
@rhatdan well, I've been pretty much letting you guys maintain seccomp/containers-golang as you saw fit under the seccomp GH org; if it makes sense to you to move it I've got no objections.

What I would suggest is that you create an issue in seccomp/containers-golang about the move (to catch anyone's attention who may be watching the repo), let that sit for approximately a week, and then submit a

[2020-08-19 20:52] rhatdan commented on #270
Sure SGTM.
github will add a link anyways, so anyone coming from the old URL will continue to work.

[2020-08-20 00:57] pcmoore commented on #270
Really?  I've never seen that, but perhaps I've never see a repo that's been moved like that.  Does anyone have an example they can point me at?

[2020-08-20 06:56] saschagrunert commented on #270
I'm not sure if we can preserve the whole structure of the old library, at least the import paths have to change. We could just archive the old repo with a note in the README to migrate to containers/common.

[2020-08-20 07:08] vrothberg commented on #270
As @saschagrunert mentions, the structure will change as we need to integrate the code into a subpackage and can't do a 1-1 copy. Linking won't work in that case.

Archiving and/or removing the code sounds good to me. I only care that the original code is still reachable, so that we don't bother existing users.

[2020-08-20 07:58] saschagrunert commented on #270
A first proposal can be found in #276

[2020-08-20 08:01] vrothberg commented on #270
I prefer to open an issue in contianers-golang first and wait before actually migrating.

[2020-08-20 12:58] pcmoore commented on #270
That's fine with me, I just want to make sure the original repo is notified well in advance before the repo goes away.

See https://github.com/seccomp/containers-golang/issues/41.

[2020-08-25 12:12] saschagrunert opened #288 "Move storage.conf into containers.conf"
I think it would make sense to move the storage.conf from [containers/storage](https://github.com/containers/storage/blob/master/storage.conf) into the containers.conf configuration file. WDYT?

I'm happy to contribute here.

[2020-08-25 19:18] rhatdan commented on #288
Not sure what you are suggesting?  Are you suggesting just the default file?  Or are you saying you want to make containers/storage rely on containers/common?

[2020-08-25 19:29] saschagrunert commented on #288
The latter was my first thought. But it was a design decision that c/storage does not import c/common, right?

[2020-08-26 19:19] rhatdan commented on #288
Yes it is the other way around.

[2020-08-26 19:19] rhatdan commented on #288
containers/storage and containers/image are the lowest level, then common, then buildah, cri-o, Podman, Skopeo

[2020-08-27 07:08] saschagrunert commented on #288
Good, let's close this in that case.

[2020-08-27 07:08] #288 closed

[2020-08-27 09:13] #270 closed

[2020-08-27 10:35] rhatdan commented on #288
Should we add more documentation to containers.conf file to point users at other configuration files. registries,conf, storage.conf.

[2020-08-27 13:13] saschagrunert commented on #288
I'm unsure about this, those configuration files seems to be pretty loosely coupled. For example some distributions do not even ship a storage.conf, just because the defaults are fine for the common use case.

[2020-10-09 11:01] vrothberg opened #321 "`no-conmon` description wrong"
containers.conf currently claims that ...
[code]
But that's wrong as we always run with conmon. What it actually means is that no dedicated cgroup for conmon is created.

It caused some confusion for HPC users.

[2020-10-09 17:34] rhatdan commented on #16
These should be configured in registries.conf

[2020-10-09 17:34] #16 closed

[2020-10-12 10:46] #321 closed

[2020-11-05 21:52] maybe-sybr opened #345 "Default `ping_group_range` value causes EINVAL when written from unshared ns"
When I attempt to run podman containers from an unshared user namespace and network namespace (related to my adventures described in containers/podman#7774) I get OCI runtime errors caused by a failure to write the default `ping_group_range` value from `containers.conf`. I assume this to be because the group ID 1 probably isn't included in my subgidmap.

The default value changed from `0 1000` ->

[2020-11-06 11:45] mbargull opened #346 "Support for custom/relocatable install prefixes (Conda packages)"
I've packaged `podman` and `buildah` (plus `crun`, `runc`, `conmon`, `fuse-overlayfs`, and dependencies) as Conda packages for conda-forge over at https://github.com/conda-forge/staged-recipes/pulls/mbargull. I also updated our build of `skopeo` over at https://github.com/conda-forge/skopeo-feedstock. (NB: The build PRs for `podman`, `buildah`, and updated `skopeo` are not yet reviewed/merged but

[2020-11-06 11:47] mbargull commented on #346
One other issue related to the embedded C string in `buildah`: We make heavy use of relative RPATHs, e.g., `@ORIGIN/../lib` so we can avoid having to patch binaries at install time. However, with executable that move themselves for re-execution, like `buildah` or the container runtimes (`crun`/`runc`), this doesn't work. I'd be interested if this topic came up before and what your thoughts are one

[2020-11-06 16:26] rhatdan commented on #345
Open a PR to fix.  The intention is to only allow it for root, so if your change works, then it SGTM.

[2020-11-06 16:27] rhatdan commented on #346
@containers/podman-maintainers WDYT?

[2020-11-06 18:58] Foxboron commented on #5
Is there a way to help move this along? Any action plans?

[2020-11-08 22:06] maybe-sybr commented on #345
Please check out #347 when you have a chance, @rhatdan and co. Thanks! Obviously this will need to get vendorised across to `podman` but since a modified config can be provided, there's no rush on that. I doubt anyone other than me work will even hit this issue :/

[2020-11-09 09:04] vrothberg commented on #5
I think it's now harder than before to consolidate packaging efforts here. containers/common has evolved into a shared golang library and has it's own release cycle (and versioning) that is not necessarily tied to other tools or libraries.

I think we should keep things as they are. Packaging is harder but I think that development and maintenance would much more complicated.

[2020-11-09 14:17] #345 closed

[2020-11-09 14:25] rhatdan commented on #345
This is now available in v0.27.0

[2020-11-09 21:56] maybe-sybr commented on #345
Excellent, thanks!
On 10 Nov 2020, 1:25 AM +1100, Daniel J Walsh <notifications@github.com>, wrote:

[2020-11-10 21:38] rhatdan commented on #5
I agree.

[2020-11-10 21:38] #5 closed

[2020-11-20 19:17] rhatdan commented on #346
Please open a PR for this, if common needs to be modified.

[2020-11-24 17:27] srd424 opened #363 "Debian/Ubuntu packaging doesn't mark /etc/containers/containers.conf as a conffile"
Version: 1.2.0~2

(Not sure this is the right place to report, I am using the apt repo at `https://download.opensuse.org/repositories/devel`?)

The Debian/Ubuntu packages install a symlink from `/etc/containers/containers.conf` to `/usr/share/containers/containers.conf`, but do not mark this as a 'conffile', which means if there is an existing file in that location it gets clobbered on package ins

[2020-11-24 19:33] rhatdan commented on #363
/usr/share/containers/containers.conf should be owned by the distro and not edited by the admin, so stuff stored there should be clobbered.  If the admin wants to adjust they should create a /etc/containers/containers.conf.  The debian package should leave the /etc/containers/containers.conf file alone, if it exists.

@lsm5 Do you know where this should be reported?

[2020-11-24 20:24] srd424 commented on #363
Sorry, for clarification, I meant the `/etc/containers/containers.conf` symlink doesn't get marked as a conffile, so dpkg happily removes any existing file created by admin with that name and creates the symlink in its place.

[2020-11-24 21:24] rhatdan commented on #363
Yes this definitely should not be a symbolic link. or part of the package at all, unless Debian has the equivalent of Ghosting a file like RPM does.

[2020-11-24 22:11] lsm5 commented on #363
@rhatdan ya, this comes from OBS, so it's on me. I'll check what the official package for debian testing does and try to replicate it. Thanks @srd424 for the report.

[2020-11-25 18:30] rzlourenco opened #364 "Default capabilities too restrictive"
Recently, Arch Linux packaged `containers.conf` into `podman`'s  dependencies. Now I cannot run containers as I used to:

[code]

It seems the cause is `default_capabilities` in be31ba33af76e87f23b82ffbdb1d5e1ad75aaa07. Reverting it made the above command work again.

My `podmani info --debug`:

[code]

Packages:

[code]

[2020-11-25 18:55] rzlourenco commented on #364
For the record, my `podmani info --debug`:

[code]

[2020-11-25 18:56] rhatdan commented on #364
Looks like this is fixed in podman2.2.

[2020-11-25 19:16] dvzrv commented on #364
@rhatdan cool! I'll leave it commented in the package until then.

[2020-11-25 20:13] tumido commented on #364
@dvzrv confirmed fixed downstream in containers-common 0.29.0-3

[2020-11-26 12:22] saschagrunert opened #367 "Consider stopping go vendoring for projects like this"
I think the main reason for using vendoring was to simplify packaging efforts, which seems still true nowadays. For projects we do not package (like this library) we could consider not vendoring the dependencies any more. WDYT?

[2020-11-26 12:28] vrothberg commented on #367
Do you see an immediate benefit of not vendoring?

A nice candy of vendoring is that it reduces network traffic for testing.

[2020-11-26 12:35] saschagrunert commented on #367
Not big ones, just little things like:
- The repository size gets smaller.
- It seems to reduce development overhead when bumping dependencies.
- It makes first-time contributions easier since we do not have to explain our `make vendor` step.

Yes, we usually solve those issues with caching. I think Cirrus has support for go module caching somehow.

[2020-11-26 16:19] lsm5 commented on #363
@srd424 a new skopeo `1.2.0~5` will soon be ready which (I hope) fixes this issue. It'd be great if you could try out and let me know https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/skopeo . Thanks a lot

[2020-11-26 16:33] srd424 commented on #363
Hmm, not looking promising I'm afraid. Symlink is still there:
[code]
And it's still not marked as a conffile:
[code]
Is the packaging source tree publicly available anywhere?

[2020-11-26 16:50] srd424 commented on #363
Ah, OK, found the source tarball. A bit confused by the use of `config-package-dev`, but I think part the problem is that `dh_installdeb` automatically marks regular files in `/etc` as conffiles, but not symlinks. As discussed upthread, does the symlink really need to be there at all?

[2020-11-26 17:19] lsm5 commented on #363
hmm, I'll try not keeping it a symlink, don't honestly remember why I had it that way in the first place. I'll get back to you, thanks for the feedback.

[2020-11-26 19:22] lsm5 commented on #363
This happens even if it's not a symlink in the latest build 1.2.0~6. I guess I need to create a `debian/conffiles` and list this file in there. But if I create this file, it complains about this file not being in the `skopeo` package.

See: https://gitlab.com/rhcontainerbot/skopeo/-/tree/debian . It would be great if you could send me a patch to fix this. Thanks a lot.

[2020-12-01 23:10] TomSweeneyRedHat opened #368 "RFE: Provide a containers.conf.d option like registries.conf.d"
In the December 2020 Podman Community Meeting, Neal Gompa (@Conan-Kudo) asked if we could provide containers.conf.d like we have provided registries.conf.d.  During the meeting today that was thought to be a good idea and a possible deliverable.

Adding this issue as a reminder, it might better be logged against containers/common.

[2020-12-04 16:38] TomSweeneyRedHat opened #372 "Options in the containers.conf.md are not listed alphabetically under each section"
The options listed under each of the sections in the containers.conf file are not ordered alphabetically and should be.  The "Engine" section in particular is rather long and is badly jumbled.

[2020-12-04 23:27] rhatdan commented on #372
PRs welcome.

[2020-12-17 16:18] dvzrv opened #385 "latest tag is maybe not correct?"
Hey there! I'm using this project as the basis for a containers-common package on Arch Linux.
While tracking the upstream, I realized that you introduced a major version bump (0.31.0 -> 1.31.1), and this is probably accidental.

[2020-12-17 18:46] rhatdan commented on #385
Yes you are right it should have been 0.31.1.  I will attempt to remove the 1.31.1 tag,  That should not exists.

[2020-12-17 18:46] #385 closed

[2021-01-05 09:28] mtrmac opened #395 "DOCKER_CONFIG implementation seems wrong (and unnecessary?)"
Highlighting https://github.com/containers/common/pull/388#pullrequestreview-557179953 :
- Per https://docs.docker.com/engine/reference/commandline/cli/ , this implementation seems not to be compatible, defeating its whole purpose.
- This was already implemented in c/image previously.
- (Implementing an override instead of a common behavior in c/image has almost always resulted in painful inconsis

[2021-01-05 09:42] mtrmac commented on #395
Reading more carefully: the c/image implementation only _reads_ the Docker location, both in the default `~/.docker` path and in `$DOCKER_CONFIG`.

So, the #388 PR is not completely ineffective, in that without it, `* login` never _writes_ to $DOCKER_CONFIG.

Still, that PR introduces inconsistent behavior: I don’t think it makes sense for `podman login` to write to `$DOCKER_CONFIG` if set, but no

[2021-01-11 16:07] jayaddison commented on #363
Re: patch development - could you link to the `containers-common` Debian package source tree @lsm5?

[2021-01-11 16:08] jayaddison commented on #363
Ah, my mistake - it looks like the `skopeo` repository may also contain the `containers-common` package build configuration.

[2021-01-11 16:56] jayaddison opened #404 "Align 'containers/common' release versions with per-distribution package versions"
There's currently some potential for confusion between the tagged, versioned releases of [`containers/common`](https://github.com/containers/common) on GitHub compared with the packaged binary releases provided for various distributions via the [Kubic repository](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/).

For example:

- [CentOS 8 x86_64](https://download.opensuse.

[2021-01-11 17:00] jayaddison commented on #363
Opened https://github.com/containers/common/issues/404 with some thoughts after reading a bit more about how package versioning and package build work here.

[2021-01-11 18:01] lsm5 commented on #404
@jayaddison perhaps you could create a github fork of this repo and add your deb packaging changes to generate a containers-common deb. Once you have that ready, we could look at adding it to OBS / gitlab. How does that sound?

[2021-01-11 18:17] jayaddison commented on #404
That's an idea, yep.  I don't think I'm likely to either begin or decline work on this for a while though, my experience with distro packaging is fairly limited so far.  Having it recorded as an issue is a first step.

[2021-01-11 18:26] lsm5 commented on #404
@jayaddison sounds good, thanks a lot!

[2021-01-11 19:31] rhatdan commented on #363
Since this is not a container/common issue, but a packaging issue, I am going to close the issue.

[2021-01-11 19:31] #363 closed

[2021-01-11 19:33] rhatdan commented on #363
BTW /etc/containers/containers.conf, should be a Ghost file to use RPM terminology.  /usr/share/containers/containers.conf should be shipped in the debian package.  /etc/containers/containers.conf is just to be used by the administrator to customize the distributions install.

[2021-01-11 19:43] lsm5 commented on #363
@rhatdan sure, but we(I) use upstream to track OBS packaging issues. It'd be great if you could leave atleast #404 open and maybe we could assign it `packaging` and `debian` labels.

[2021-01-12 00:38] jayaddison commented on #363
@lsm5 @rhatdan My external view - please take with a grain of salt.  You (~RedHat) are in the slightly unusual situation of being both the authors of this software, and also the packagers of it for various distributions.  That makes sense when the goal is to improve the reach of the software but from observation I worry that it's creating some challenges because you are catering to multiple enviro

[2021-01-12 12:05] rhatdan commented on #363
This is a community project sponsored by Red Hat.  We have funding for a group of engineers to work primarily on container engine tooling, but we really want to build a community to get these tools on as many different distributions as possible.  Luckily we have been very successful in making that happen, although we always welcome new contributors.  The end goal is to get the tools packaged up fo

[2021-01-12 12:54] jayaddison commented on #363
Thanks @rhatdan; I'm supportive of this project and would like to help.  Raising these comments may perhaps create a little friction but my belief is that it's necessary to help figure out where tasks and communication can best be located to effectively build the project.  There are indeed many discussion platforms currently and it can be tricky (and time consuming - a problem in itself) to co-ord

[2021-01-12 18:51] naveensrinivasan opened #406 "make target all fails on osx"
Trying to make on `osx` fails.

[code]

[2021-01-13 15:14] #406 closed

[2021-01-13 16:42] lsm5 commented on #363
In the recent past, I had decided to give up on packaging for newer versions of debian/ubuntu (they already have these tools though moving at a much slower pace because of packaging policies and such). But that decision ended up blocking our upstream CI testing for ubuntu 20.10. So, I had to re-enable packaging for 20.10 and I thought might as well provide these packages to the community while I'm

[2021-01-13 18:38] jayaddison commented on #363
That comment does help, yep - thanks for the context @lsm5.

Before modifying or granting any access permissions I think it'd be good to determine what the goals should be.  As a maintainer you'd like to encourage more community input and contribution, and as a user I'd like to be able to more easily investigate issues and contribute potential fixes (which may or may not be accepted).

I'm relativ

[2021-01-13 18:58] lsm5 commented on #363
Ack.

While this is ideal, and also the default go-to approach, the `containers-common` package complicates things because containers-common package only installs config files and doesn't bother with any of the golang stuff in this upstream repo. And said config files are actually present upstream in separate repos like c/image, c/storage, c/common, c/podman, c/skopeo. So, even after you have a st

[2021-01-22 00:01] cyphar opened #419 "seccomp: default profile has several duplicates"
While working on updating the profile to include the changes I made in docker/docker#41889 I noticed that several syscalls are included in the main "allow for all containers" list and the "allow for container with these capabilities list":

 * `unshare`, `mount`, `umount`, and `umount2` are for `CAP_SYS_ADMIN` and all containers.
 * `reboot` is permitted for `CAP_SYS_BOOT` and all containers.
 * `

[2021-01-22 08:42] saschagrunert commented on #419
Yes I think cleaning up the profile from duplicates would make sense. :+1:

[2021-01-22 10:26] rhatdan commented on #419
SGTM

[2021-01-25 15:17] lsm5 commented on #404
@jayaddison so I built a standalone containers-common just now for the Kubic Testing project. See: https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/containers-common . The packaging source is at https://gitlab.com/rhcontainerbot/containers-common (branch: debian). There's an `update.sh` in there which fetches the latest config files from the upstream repos before running d

[2021-01-25 16:19] jayaddison commented on #404
Thanks @lsm5 - I'll give that a look soon, and am curious how version tagging between upstream and the packaged releases could best be automated, so that the process could become a little easier, faster and (hopefully) less likely to result in version confusion or other problems.

Out of interest, is there a policy for the projects within the [`containers` organization](https://github.com/containe

[2021-01-25 16:28] lsm5 commented on #404
I have some tips from @vrothberg . Basically something like:

1. Check for new upstream tag
2. If new tag, look at repo's go.mod and check if any of the deps changed
3. If any deps changed, check if the config files listed in the deps changed.

Should be doable in my current autobuilding script.

[2021-01-25 16:31] lsm5 commented on #404
No policy as such. We were hoping to use `packit` to solve everything for us. But I don't think that will solve the issue of debian/ubuntu and centos. Also, I'm already using gitlab CI (an instance internal to redhat) to run the automated packaging jobs because the public gitlab CI started imposing monthly time limits.

[2021-01-25 16:33] lsm5 commented on #404
This is where the automated jobs used to run earlier: https://gitlab.com/rhcontainerbot/pkg-builder . Now I keep it mostly as a mirror (maybe outdated atm, I'll keep it updated) ..while the packaging sources are present in public on https://gitlab.com/rhcontainerbot so that the community can view them if necessary.

[2021-01-25 16:40] lsm5 commented on #404
Hmm, I may switch to github actions in the future in the interest of keeping everything public, but can't promise an ETA atm. Main requirement from my side would be no limits of any sort.

[2021-01-27 02:33] cyphar commented on #419
`sync_file_range2` is a bit odd -- it is an architecture-specific thing but it doesn't hurt to include architecture-specific syscalls globally because runc will just ignore them if they don't exist on the native architecture...

[2021-01-27 05:31] cyphar commented on #419
Oh also it appears the `socket(2)` rules blocking `socket(AF_NETLINK, NETLINK_AUDIT, 0)` don't actually work -- the following test program:

[code]

Gives the following output in podman:

[code]

When the top one should be giving `-EINVAL` -- this is because libseccomp ignores later rules if there is a generic rule.

@giuseppe Given that this is technically a security bug where `socket(2)` gating

[2021-01-27 09:05] giuseppe commented on #419
should this be: `raw(socket, AF_NETLINK, SOCK_RAW, NETLINK_AUDIT)`?  It is what libaudit uses.

The conditions on `socket(2)` are mutually exclusive:

[code]
so there should not be overwritten by libseccomp.

It seems though that errnoRet is ignored on socket and I am still debugging it, as if something else is blocking the call before the seccomp filter.

Writing seccomp rules in JSON is really p

[2021-01-27 09:17] cyphar commented on #419
@giuseppe There is an allow-all rule for `socket` in the first block which is removed in #421. Let me try the reproducer again though, you're right that I screwed up the example code.

[2021-01-27 09:20] cyphar commented on #419
Yup, with the correct rule you still get `-EPERM`:

[code]

[2021-01-27 09:25] giuseppe commented on #419
I am still seeing EPERM with the following seccomp section in the config.json:

[code]

and it seems to work fine with other syscalls.

Yes, you can override the seccomp profile with `--security-opt seccomp=blah.json`

[2021-01-27 09:29] cyphar commented on #419
Yeah I just checked and `--security-opt seccomp=blah.json` definitely works. This is quite weird... Maybe `socket` is being translated into something different, but we're using raw `syscall(__NR_socket)` here so glibc shouldn't be messing with us....

[2021-01-27 09:47] giuseppe commented on #419
ah! `syscall()` stores the result in errno.

[code]
works better :-)

[2021-01-27 10:37] cyphar commented on #419
Oh whoops, I forgot to copy my logic from the runc tests to this. Ignore me! :sweat_smile:

[2021-01-27 13:27] giuseppe commented on #419
what do you think about this idea to facilitate writing seccomp profiles: https://github.com/giuseppe/easyseccomp ?

It is just a a couple of days worth of work PoC at the moment, but I'd like to get some feedbacks.

I think it should be possible to detach the BPF generation from the OCI configuration and just pass the raw BPF, as the crun annotation does.  There is also no need to generate the BP

[2021-01-27 14:35] rhatdan commented on #419
@giuseppe Why do you need an annotation, couldn't crun just use the seccomp file passed to it, and if it is not a json file treat it as a byte compiled file?

[2021-01-27 14:40] giuseppe commented on #419
@rhatdan the seccomp configuration is currently passed as part of the OCI config.json file, what the OCI runtime currently receives is something like:

[code]

and that is in a different format than the seccomp profile the user provides.

Ideally in future there won't be need of a custom annotation but it will become part of the OCI runtime specs.

[2021-01-27 15:52] rhatdan commented on #419
Thanks, I did not know it was embeded in the spec. Would have been nicer if it was just pointing at a file.

[2021-01-27 21:32] cyphar commented on #419
Well even if it was pointing at a file (which I don't think would be an improvement) it would still be our own DSL. I personally think it would've been a better idea to just have the user specify a binary (base64-encoded) blob which is then loaded as raw BPF. That way we could swap out generators without needing to reimplement a specific DSL or change the container runtime implementation.

But unf

[2021-01-28 08:33] giuseppe commented on #419
yes, that is just an optimization and not so critical, but I don't think it will be too difficult to implement in the runtime, anyway we can keep it for future.

on the other hand, it won't need to be reimplemented in different OCI runtimes :-)

the custom annotation I've added to crun is just a temporary hack so I can start playing with the custom DSL, if that works out well I'll propose the chan

[2021-01-28 08:56] cyphar commented on #419
My suggestion is we table raw BPF as one thing on the list of many which we will bundle together as a mega-change for the runtime-spec. I think the seccomp stuff in the runtime-spec needs to be reworked pretty much from scratch since it's not really workable as-is IMHO.

[2021-01-28 20:14] #419 closed

[2021-01-30 21:39] giuseppe commented on #419
if you are interested how I am using the new feature, I've blogged about it here: https://www.scrivano.org/posts/2021-01-30-easyseccomp/

[2021-02-05 20:41] vrothberg opened #443 "Defaulting to journald log driver does not pass Podman CI"
We recently defaulted to journald as the default log driver but had to [revert it](https://github.com/containers/common/pull/441) as it does not pass Podman CI.  This issue is intended to track (and not forget) about it.

What we need to do, is get back to the state before https://github.com/containers/common/pull/441 open a PR in Podman and tackle the CI failures one by one. @rhatdan mentioned th

[2021-02-05 20:42] rhatdan commented on #443
Done.

[2021-02-08 10:13] vrothberg commented on #443
Only parts of it.  We still need to get `journald` pass Podman CI.  This issue was meant to cover that and especially to not forget it.

[2021-02-10 11:01] patstrom opened #450 "Alpine package `containers-common` seems to be broken on stable alpine"
No matter how I try to install `buildah` (or just `containers-common`) using `apk` I get an error.

[code]

From what I can tell from the [website](https://pkgs.alpinelinux.org/package/edge/community/x86/containers-common) `containers-common` should be in the community repo and thus be available. Even so, installing buildah from the testing repository still results in an error due to containers-co

[2021-02-10 11:21] vrothberg commented on #450
Thanks for reaching out!  I think that's an Alpine issue.  Would you consider opening a bug against Alpine?

[2021-02-10 12:16] patstrom commented on #450
I've opened an issue with Alpine: https://gitlab.alpinelinux.org/alpine/aports/-/issues/12414

[2021-02-10 12:17] vrothberg commented on #450
Wonderful, thanks!  I am closing the issue here but feel free to reach out any time.

[2021-02-10 12:17] #450 closed

[2021-02-10 12:42] maxice8 commented on #450
[Alpine Linux dev here]

This is an Alpine issue, containers-common was added after the release of 3.13 so it is not available.

[2021-02-16 16:29] unknowndev233 opened #453 "How to verify if a runtime supports "--format=json" ?"
While trying to use runsc as runtime of podman, I've noticed an option shows "runtime_supports_json =" in containers.conf .  If I want to add runsc here, how can I verify if "--format=json" is supported in runsc ?

[2021-02-22 12:34] siretart opened #462 "/dev/zero not (always) owned by root:root on lxd"
As it turns out, the following test code is problematic on lxd:

https://github.com/containers/common/blob/7168f78b166c54f006273229c80984da8cffe4f4/pkg/parse/parse_test.go#L75-L82

As you can see from https://discuss.linuxcontainers.org/t/device-node-ownership-guarantees/10325 on rootless lxd device nodes actually appear as nobody:nobody instead of root:root, which is breaking this test.

Not sure

[2021-02-22 19:58] rhatdan commented on #462
Just change the test to stat the '/dev/null' and make sure the dev[0]Uid == stat(/dev/null).Uid

[2021-03-04 10:44] vrothberg commented on #443
This has been fixed by @ashley-cui

[2021-03-04 10:44] #443 closed

[2021-03-18 17:22] TomSweeneyRedHat opened #480 "Version file"
Unless I'm missing it in my quick scan, we don't have a version file in this repository and need one.

[2021-03-18 17:24] TomSweeneyRedHat commented on #480
nvm, I'm just blind or running through stuff too fast.

[2021-03-18 17:24] #480 closed

[2021-04-08 09:02] Foxboron commented on #395
I think #491 solves part of the problem

[2021-04-13 15:46] giuseppe commented on #453
you'll need to manually check if `runsc --log-format json` works.

From a quick test it seems to not raise an error.  Would you like to verify it and in case open a PR to add it to the `runtime_supports_json` list?

[2021-04-15 10:48] unknowndev233 commented on #453
Yes. But I can't use my real name

[2021-04-15 12:13] giuseppe commented on #453
using your github handler is fine

[2021-04-21 13:37] ashley-cui opened #503 "RFE: Support systemd credentials"
Secrets sounds a lot like systemd "credentials". (Though we try a bit harder to lock them down via ramfs rather than tmpfs). Might be worth making them compatible by setting the CREDENTIALS_PATH env var implicitly in podman) By making podman secrets and systemd credentials compat you gain that you can pass them from podman to systemd running in the container further down the tree. - via twitter

f

[2021-04-22 08:42] trusch opened #505 "gopass based secret driver"
It would be really nice to see a secret driver using gopass/pass since this would store secrets in a secure way in contrast to storing it in an unencrypted json file.

The implementation could just use the shell to actually call gopass directly or use its codebase to implement the driver without having to require an additional binary on the host.

Here is the project URL for reference: https://git

[2021-04-22 19:55] rhatdan commented on #505
Interested in opening a PR to add this?  Or at least working on this.  We might want to start looking at how we could make plugins for this, since a lot of people have had ideas on additional secret features they would want.

[2021-04-23 09:20] unknowndev233 commented on #453
Do you have examples?

[2021-04-23 10:17] giuseppe commented on #453
just don't add your real name to the git commit

[2021-04-23 11:11] unknowndev233 commented on #453
like`git commit -m 'add OCI Runtime gvisor/runsc Signed-off-by: unknowndev233 <unknowndevQwQ@protonmail.com>'`?

[2021-04-23 11:48] unknowndev233 commented on #453
I got it.

[2021-04-24 10:33] rhatdan commented on #453
Yup.

[2021-04-24 10:33] #453 closed

[2021-04-24 10:45] rhatdan commented on #404
@lsm5 Any progress on this issue?

[2021-04-24 10:46] rhatdan commented on #367
@saschagrunert @vrothberg What should we do with this issue?

[2021-04-24 10:46] rhatdan commented on #364
Fixed a long time ago.

[2021-04-24 10:46] #364 closed

[2021-04-26 07:27] saschagrunert commented on #367
Let's close it for now, I think.
/close

[2021-04-26 07:27] #367 closed

[2021-04-26 07:41] #462 closed

[2021-04-26 08:52] trusch commented on #505
@rhatdan I can create a prototype for this driver implementation. I'll look if I will find today in the evening.

[2021-04-26 10:00] trusch commented on #505
opened a quick PR: https://github.com/containers/common/pull/514
Please let me know what needs to be done.

[2021-04-26 12:33] lsm5 commented on #404
containers-common is a separate package now, but it uses its own version-release numbers. It doesn't match the version of this github repo because it uses files from other repos too.

I don't think there's anything else we can do for this unless all source files in the package are from this repo itself.

[2021-05-13 15:24] rhatdan opened #549 "Please rename the master branch to the main branch."

[2021-05-14 07:24] saschagrunert commented on #549
+1 let's do this

[2021-05-15 09:52] sbourlon opened #555 "rootless: secret not accessible to non root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello podman team,

My container cannot access secrets when running as non root.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The user 200:200 received the error `cat: /run/secrets/mysecret: Permission denied` when accessing the secret.

[code]

**Descri

[2021-05-15 09:52] rhatdan commented on #555
This is a containers/common issue.

[2021-05-15 09:53] rhatdan commented on #555
@sbourlon Interested in opening a PR to fix this?

[2021-05-15 13:09] flouthoc commented on #555
@rhatdan Not sure but I think issue is with **libpod**. @sbourlon I saw this earlier but I ignored as thought there is a issue with my local configuration but this patch should do the trick. Would you like to verify it yourself ? https://github.com/containers/podman/pull/10347

[2021-05-15 13:45] rhatdan commented on #555
I agree, I think the secret is being added to the container with tight protection.

[2021-05-15 21:04] ashley-cui commented on #555
I have a PR ready to be open on monday that should address this issue as well as https://github.com/containers/podman/issues/10210, where it will fix the default UID, GID, and mode and let rootless access the secret correctly, as well as let the user set it via options passed in the secrets flag. I think we should wait for that PR since it adds functionality as well. It just needs a few more tests

[2021-05-16 02:58] flouthoc commented on #555
@ashley-cui @rhatdan No issues let me know if https://github.com/containers/podman/pull/10347 needs to be closed.

@ashley-cui For second question I think we should have it since it makes things effortless and intuitive for admins who prefer `non-root` user as default and also it'll be really cool feature to have, but make only `non-root` user specified by **admin context** owner/access of `/run/s

[2021-05-26 13:15] vrothberg opened #580 "check access rights for systemd-related config options"
Some config knobs require access to systemd/DBUS etc. (e.g., cgroups-manager, logger, eventer).  In those cases, we should check early on if we have access rights to systemd/DBUS.

In the past week we hit two Podman issues (customer portal and upstream), where the rootless users did not have access rights.  One could be solved with `su --login` but the other could not.

Checking early will protect

[2021-05-26 13:47] vrothberg opened #581 "libimage: pull: don't resolve short names on explicit docker:// reference"
… I might be missing something; how do short names like `busybox` vs explicit `docker://docker.io/busybox` pulls work? AFAICS this code parses both into a `docker://busybox` `ImageReference`, losing the distinction — and then may try to do short name lookup on explicit `docker://…` formats, which should, I think, _never_ happen — short name lookup is used only for Docker-like non-transport-qualifi

[2021-05-26 15:36] #581 closed

[2021-05-26 18:27] rhatdan commented on #580
@giuseppe @vrothberg  is there an easy way for us to check so that containers-common/pkg/config can set the defaults.  Perhaps check if /proc/1 == /proc/self?  Then we know we are in a container without systemd, so set the defaults to non systemd defaults?

[2021-05-27 11:13] vrothberg commented on #580
#585 did not fix that, see https://github.com/containers/common/pull/585#pullrequestreview-669797324.

[2021-05-27 12:01] vrothberg opened #589 "pkg/config tests are changing containers.conf on the system"
The pkg/config tests are changing the hosts's containers.conf files (/etc/containers/containers.conf for root and ~/.config/containers/containers.conf for ordinary users).  Tests shouldn't do change host files but instead create temporary files and directories.

Unfortunately, I don't have time to look into the issue at the moment.

[2021-05-27 14:59] rhatdan commented on #589
I will take a look at this.

[2021-05-30 18:53] jpalus opened #593 "Allow futex_time64 in default seccomp policy"
I'm running ARM32 rootless container created with podman on ARM64 host. With seccomp enforced multiple applications fail with error:
[code]
It appears to be caused by lack of `futex_time64` in allowed syscalls. As far as I gathered `futex_time64` is `futex` for 32-bit platforms with 64-bit time so I think it could be added to default policy.

[2021-05-31 08:21] vrothberg commented on #593
Thanks for reaching out! That syscall is part of addressing the "year 2038" problem.  Sounds good to me.

@giuseppe @rhatdan WDYT?

[2021-05-31 13:49] giuseppe commented on #593
yes I think we could add that.  Is the syscall already understood by libseccomp?

[2021-05-31 13:58] jpalus commented on #593
It looks to be understood for a while since https://github.com/seccomp/libseccomp/commit/bf747eb21e428c2b3ead6ebcca27951b681963a0

I can also confirm that creating container with custom JSON seccomp policy having `futex_time64` results in perfectly working ARM32 container.

[2021-05-31 14:03] giuseppe commented on #593
@jpalus thanks for confirming it.  Would you mind to open a PR to add the missing syscall?

[2021-06-02 07:45] #593 closed

[2021-06-04 09:04] vrothberg commented on #589
Closing as this has been fixed with #590.

[2021-06-04 09:04] #589 closed

[2021-06-09 18:31] cevich commented on #549
***Supporting/Required changes:***
* Every containers-org repo. `CODE-OF-CONDUCT.md` and `SECURITY.md` both contain links to the master branch of *this* repo.

(I'll update this comment as I find more)

[2021-06-10 09:33] rhatdan commented on #503
@vrothberg @giuseppe any idea what we should do with @poettering tweet?

@poettering do you think we should set the CREDENTIALS_PATH to the path to secrets if the user creates a conainer with a secret?

I find very little documentation googling CREDENTIALS_PATH?

[2021-06-10 09:33] rhatdan commented on #505
Since this is merged, I am closing.

[2021-06-10 09:33] #505 closed

[2021-06-10 09:44] rhatdan commented on #395
@Foxboron @mtrmac Do you see this as still a problem?  I would like to clearly state what you think is the issue.

podman login
buildah login

Not creating the $DOCKER_CONFIG file?

[code]
Which seems to work correctly?  Perhaps we can close this issue?

[2021-06-10 09:46] rhatdan commented on #395
I will close and you can reopen if you disagree.

[2021-06-10 09:46] #395 closed

[2021-06-10 09:47] rhatdan commented on #404
I am going to close this issue, since it is really a distribution issue.

[2021-06-10 09:47] #404 closed

[2021-06-10 11:05] rhatdan commented on #346
Since no action was ever taken on this, I am going to assume reporter is no longer interested.

[2021-06-10 11:05] #346 closed

[2021-06-10 12:34] rhatdan commented on #549
Renamed.

[2021-06-10 12:34] #549 closed

[2021-06-10 15:37] damienrg opened #619 "Misleading messages when login/logout with docker-credential-pass"
The messages printed when using `podman login/logout` are misleading.

**Steps to reproduce**:

The following steps assume that `docker-credential-pass` from https://github.com/docker/docker-credential-helpers is installed:

1. create `~/.config/containers/auth.json` containing:
[code]
2. add credential to `pass` with `docker-credential-pass`:
[code]
3. then login with:

[code]

4. then logout wit

[2021-06-10 16:02] cevich commented on #549
That's all I can handle for now. There are 41 more containers-org repos with these two files, all need fixing or lawyers might get mad :grin:

[2021-06-10 20:25] #372 closed

[2021-06-10 20:44] #368 closed

[2021-06-10 20:57] rhatdan commented on #619
Interested in opening a PR to make this work better?

[2021-06-11 10:26] damienrg commented on #619
Yes I can open one and at the same time I need to know what result you expect.

To compare `docker` and `podman` I have used `~/.docker/config.json` with:

[code]

**Actual behavior:**

With `docker`:

[code]

With `podman`:

[code]

To sum up `docker` stores the password in pass on login if not already present and delete the password in pass on logout while `podman` retrieves credentials with pas

[2021-06-11 11:36] rhatdan commented on #619
Podman will not use the dockerfile location by default.

You need to either set DOCKER_HOST or use --auth-file to point at the config.

podman login --auth-file ~/.docker/config.json foo.io

[2021-06-11 13:25] damienrg commented on #619
You mean to store credentials in the authentication file or to read authentication file? If the latter,
based on my tests and the code I would say that `podman` fallbacks by default.  [Login()](https://github.com/containers/common/blob/6c933f226ed44491d082d6d52cbe31ae6fe0e76f/pkg/auth/auth.go#L68) calls [config.GetCredentials()](https://github.com/containers/image/blob/de5d9f71401cf1e26197bbe1c9c8

[2021-06-14 12:26] poettering commented on #503
Yes, if podman has a directory where it makes these secrets/credentials available as regular files, then it would be excellent if it would set CREDENTIALS_PATH to the path to this dir. That way program code could reference both podman secrets and systemd credentials the exact same way: if you look for some secret/credential "xyz" you'd open "$CREDENTIALS_PATH/xyz" and that's it.

The docs for the

[2021-06-14 14:37] rhatdan commented on #619
Are you seeing the expected behaviour?

[2021-06-14 14:39] rhatdan commented on #503
@ashley-cui Could you look at this?  We need to make sure that CREDENTIALS_PATH environment is not saved in the image, if the image was saved.

[2021-06-15 08:36] damienrg commented on #619
I do not get it. If you talk about `~/.docker/config.json` yes `podman` uses it as fallbacks, if you talk about the issue then no, there was no replies about my proposal.

[2021-06-17 19:40] cevich opened #631 "error adding seccomp filter rule for syscall bdflush: permission denied"
https://github.com/containers/common/pull/573 Causes an error on Ubuntu when running any container using `cri-o-runc     1.0.0~rc95.1`.  It also happens (not too unexpectedly) from `buildah bud` ([first identified here](https://github.com/containers/buildah/pull/3292#issuecomment-862642811)).  The problem does not occur when using the prior version of containers-common (which doesn't contain the #

[2021-06-17 19:50] cevich commented on #631
@giuseppe broke it :grinning:

Context: This isn't a problem released into the wild yet.  Only seeing it in CI when testing out new VM images.

[2021-06-18 04:10] smijolovic opened #632 "Security error 0.40.0 pulling go dependencies"
go mod tidy

go: downloading github.com/containers/image/v5 v5.13.0
verifying github.com/containers/image/v5@v5.13.0: checksum mismatch
	downloaded: h1:/7tMoRRPJ5ltba/ClmrAaYE3AjTiZ9ELxfpUK0psxV8=
	go.sum:     h1:iKjIj4VlQsCz/AvdMu9p4nbLwz218aklFRACjprv6z8=

SECURITY ERROR
This download does NOT match an earlier download recorded in go.sum.
The bits may have been replaced on the origin server, or

[2021-06-18 07:33] giuseppe commented on #631
@cevich I've seen the error "container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: permission denied: OCI permission denied" with versions of runc older than 1.0-rc95.

Could we first double check the runc version?

[2021-06-18 13:23] ryester27 commented on #631
Having the same problem with containers-common-0.40.0-1, and my Arch Linux setup has runc 1.0.0rc95-1

[2021-06-18 14:41] giuseppe commented on #631
@ryester27 is it on x86_64?

Could you try with a custom seccomp profile where you drop `bdflush` from it?

[2021-06-18 15:01] ryester27 commented on #631
x86_64, yes

I removed bdflush from /etc/containers/seccomp.json. Tried running another container, and then it complained about clone3. Removed that too, then complained about io_pgetevents next. And so on....

Let me know if that wasn't the right way to test this

[2021-06-18 15:36] cevich commented on #631
Thanks @giuseppe

I just looked, the problem images have `cri-o-runc 1.0.0~rc95.1` from Kubik, but maybe it's right on the line.  Is there a specific commit we can check to see if it's present or not?

Also, if we're building new packages anyway, should we also bump libseccomp (`2.5.1`) or anything else?

[2021-06-18 15:36] cevich commented on #631
FWIW: I also tried this, and had the exact same result.  It just fails on the next one in the list :cry:

[2021-06-18 15:46] cevich commented on #631
Idea: Since it should be easy to check, let me try my reproducer after rebuilding/installing from upstream runc...

[2021-06-18 16:10] rhatdan commented on #632
I pushed v0.40.1

[2021-06-18 16:10] #632 closed

[2021-06-18 16:46] smijolovic commented on #632
Awesome! Tested and works great.

[2021-06-18 17:51] cevich commented on #631
...okay, this failure is reproducing even with the latest runc from upstream source:

[code]

[2021-06-18 19:22] giuseppe commented on #631
I see what is happening.  We also need an updated Podman that is using #573, otherwise some of the settings in #573 are not honored by Podman

[2021-06-19 13:17] kris7t commented on #631
I'm also having this issue on Arch Linux with containers-common 0.40.0, podman 3.2.1, and runc 1.0.0rc95. However, replacing `/etc/containers/seccomp.json` with the file from containers-common 0.39.0 is a workaround and lets containers starts properly, albeit at the expense of less strict seccomp filters, I guess.

[2021-06-21 06:56] sakthimaan commented on #631
Issue resolved after rolling back to containers-common 0.39.0

`sudo pacman -U https://archive.archlinux.org/packages/c/containers-common/containers-common-0.39.0-4-any.pkg.tar.zst`

[2021-06-21 14:43] cevich commented on #631
Fantastic news @giuseppe

Please let me know if/how I can help.

[2021-06-23 13:56] cevich commented on #631
I'm hoping 'updated Podman' means code changes then package dates.  Remember, in addition to the pre-packaged podman, I also reproducing this on Ubuntu + Runc in podman CI, where we build from source.  Though that was 6-days ago, so maybe the situation has changed?

[2021-06-23 18:06] cevich commented on #631
Update: I re-ran [my podman test PR](https://github.com/containers/podman/pull/10709) and it passed, so the issue must be resolved in upstream podman.  So we're just waiting for updated podman packages to go out to Kubik testing?

Assuming so, that's great news.

[2021-06-24 09:34] rhatdan commented on #631
Can we close this issue?

[2021-06-24 15:00] dtchanpura commented on #631
I tried with following versions and everything seems to be working as expected.

I believe runc version has been updated from 1.0.0 to 1.0.0-1

[code]

[2021-06-24 15:03] cevich commented on #631
I haven't checked...did @lsm5 build new podman packages in Kubik testing?

[2021-06-25 20:50] cevich commented on #631
I'll catch up with this early next week, since new VM images need to be made again anyway.  I can re-open this if it's still a problem.

[2021-06-25 20:50] #631 closed

[2021-06-28 19:45] cevich commented on #631
Ref, new runc package in kubik testing: https://build.opensuse.org/package/rdiff/devel:kubic:libcontainers:testing/cri-o-runc?linkrev=base&rev=17

[2021-06-29 16:20] darrellenns commented on #631
Contrary to @dtchanpura, this is still broken for me.

[code]

 It works if I downgrade to containers-common-0.39.0-4.
[code]

If I remove bdflush from seccomp.json, it just fails with a different error:
[code]

[2021-06-29 16:23] rittneje opened #654 "skopeo copy --retry-times does not retry on i/o timeout"
We face intermittent networking issues copying an image from Artifactory to ECR. In order to mitigate these issues, we tried setting `--retry-times`, but it appears that it does not consider an i/o timeout to be retryable. This makes `--retry-times` useless, since now we have to surround it in our own retry logic.

Seems like the root cause of this is the `isRetryable` helper function in github.co

[2021-06-29 16:42] darrellenns commented on #631
@dtchanpura did you have crun installed when you ran that test? I have found that (at least on arch linux) containers-common will default to crun if it's installed, which is not affected by this issue. So an effective workaround for arch users with the default configuration is to just install crun. Others may need to set runtime="crun" in contianers.conf.

Arch bug report here: https://bugs.archli

[2021-06-29 17:17] dtchanpura commented on #631
@darrellenns Sorry about that, I did not see other dependencies, but yes, I do have crun installed as a dependency for buildah and it coincided with the runc update so couldn't distinguish if that was because of runc or crun.

[code]

[2021-06-29 17:20] rittneje commented on #654
The specific error we got was an i/o timeout during dial.

Since this is an i/o timeout in Go, it seems like this is coming from a context timeout or something to that effect. If it were the network I'd expect to see some TCP failure instead.

[2021-07-01 13:26] erdii commented on #631
Thanks for pointing out the `crun` workaround! (rootless) containers start working again as soon as i install the `crun` package.

These are my versions:

[code]

[2021-07-05 09:06] saschagrunert opened #666 "`Login` and `Logout` API is missing unit-tests"
The API functions are not tested from what I can see:

https://github.com/containers/common/blob/9d34b37ba77e370ac5efaef2a72820e82dcf804d/pkg/auth/auth.go#L66-L68

https://github.com/containers/common/blob/9d34b37ba77e370ac5efaef2a72820e82dcf804d/pkg/auth/auth.go#L204-L205

It also looks like that we use ginkgo/gomega based tests mixed with standard unit tests within the project, so I'm wondering

[2021-07-06 08:51] vrothberg commented on #666
No preference for which framework to use.

I guess that the two functions have not been tested so far since they are comparatively hard to test.  CI is running inside a container and that makes it hard to run a local registry.

[2021-07-13 16:15] rittneje commented on #654
@mtrmac Just wanted to poke on this issue again. We continue to face sporadic networking issues. The latest failure was a TLS handshake timeout. (We believe this particular issue is due to some bug in our firewall.)

[2021-07-16 20:27] hshiina opened #682 "Two different blob info caches are used"
**Description**

Only 'buildah commit' uses a blob info cache at a different location from other commands.

This seems caused by containers/buildah#2903. It seems that most commands still get the old location [here](https://github.com/containers/buildah/blob/main/vendor/github.com/containers/common/libimage/runtime.go#L98).

Also, I'm not sure if the following side-effects are intended:
- This cha

[2021-07-19 18:46] nalind commented on #682
The location where we're still overriding the library's default is in containers/common, transferring the issue.

[2021-07-20 07:10] #682 closed

[2021-07-25 12:14] unknowndevQwQ opened #692 "config.go may be missing runsc related content"
https://github.com/containers/common/blob/5257b4d2d79e3d45281ae1ff6fceaefa63f211d4/pkg/config/config.go#L690
Do you need to add runsc after kata

[2021-07-25 12:51] unknowndevQwQ opened #693 "A question about name value pairs"
63 64 67 lines in https://github.com/containers/common/blob/5257b4d2d79e3d45281ae1ff6fceaefa63f211d4/pkg/config/containers.conf#L63-L68

71 72 79 lines in https://github.com/containers/common/blob/5257b4d2d79e3d45281ae1ff6fceaefa63f211d4/pkg/config/containers.conf#L70-L80

Should we add spaces or remove spaces here?

[2021-07-26 11:05] rhatdan commented on #692
Sure, Open a PR.

[2021-07-26 11:07] rhatdan commented on #693
If you think it will look better then open a PR.

[2021-07-31 08:40] unknowndevQwQ opened #701 "c.RuntimeSupportsKVM is inconsistent with c.OCIRuntimes"
https://github.com/containers/common/blob/0fe6cef2ef560d913edcbfac6fa23089ffee736a/pkg/config/default.go#L264-L303
https://github.com/containers/common/blob/0fe6cef2ef560d913edcbfac6fa23089ffee736a/pkg/config/default.go#L328

`c.RuntimeSupportsKVM` lists `kata`, `kata-runtime`, `kata-qemu`, `kata-fc`, but `c.OCIRuntimes` has only `kata` in it

[2021-08-02 12:56] unknowndevQwQ commented on #693
But I am more worried that it may cause problems when using

[2021-08-02 14:26] #692 closed

[2021-08-02 15:38] rhatdan commented on #693
It should not cause a problem

[2021-08-03 17:39] #693 closed

[2021-08-04 15:01] vrothberg opened #710 "libimage: tag should reject digests"
Based on a chat with @mtrmac, digested values should be rejected in (*Image).Tag() to be compatible with Docker.

[2021-08-06 08:26] #710 closed

[2021-08-06 10:13] unknowndevQwQ opened #715 "Feature request: The runtime parameter can be defined when defining runtime"
There is currently no https://docs.docker.com/engine/reference/commandline/dockerd/#docker-runtime-execution-options equivalent option in [engine.runtimes].

This feature is very useful for kata runtime
Also, this feature makes it easier to debug the runtime

Configuration format assumptions:

[code]

[2021-08-06 12:02] rhatdan commented on #715
SGTM
Are those the default options, or should the defaults be empty?

[2021-08-07 10:24] unknowndevQwQ commented on #715
What?

[2021-08-07 10:26] rhatdan commented on #715
[code]

Is this a valid default or should it be
[code]

[2021-08-07 11:05] unknowndevQwQ commented on #715
is a valid default value

[2021-08-12 06:46] b1-luettje opened #723 "Error: open /proc/sys/net/ipv4/ping_group_range with 0.43.0"
I'm not able to launch any container with port mapping since  i upgraded to containers-common 0.43.0, downgrading to 0.42.1 fixes the problem.

`$ podman info`:
[code]

With current version:
[code]

After downgrading to `0.42.1` everything is fine:
[code]

[2021-08-12 06:48] b1-luettje commented on #723
`/etc/containers/containers.conf` is identical to `/usr/share/containers/containers.conf`

[2021-08-12 06:56] DDoSolitary commented on #723
The errors seems to be caused by 62d90f9f2895530f99aefd42600581d9ebd559af, which adds spaces around `=` in the `default_sysctl` config. The spaces are not striped but made its way to the final openat call and result in the ENOENT error.

Relevant part of strace log:

[code]

[2021-08-12 07:01] b1-luettje commented on #723
Correct, once i remove the spaces there are no problems anymore with the current version :+1:

[2021-08-12 08:34] unknowndevQwQ commented on #723
I just tested and found that crun and runc do not support sysctl options like `net.ipv4.ping_group_range = 0 0`, only [youki](https://github.com/containers/youki) does. But when I enable the ulimit "nofile = 1280:2560" option, I find that podman outputs `level=error msg="validating containers config: unrecognized ulimit nofile = 1280:2560: invalid ulimit type: nofile "`

Perhaps adding spaces to t

[2021-08-12 10:42] #723 closed

[2021-08-12 19:05] rhatdan commented on #723
No one should be shipping /etc/containers/containers.conf by default...

[2021-08-13 07:11] xatier commented on #723
Well, archlinux does... :joy:

https://github.com/archlinux/svntogit-community/blob/packages/containers-common/trunk/PKGBUILD#L96

[2021-08-13 07:54] xatier commented on #723
@rhatdan , I added checks for extra spacing in `ValidateSysctls`, please take a look at https://github.com/containers/podman/pull/11224 .

[2021-08-14 14:31] unknowndevQwQ opened #729 "containers.conf is inconsistent with the test file"
Because the content of containers.conf is different from testdata/containers_*.conf, and because containers.conf was changed without changing testdata/containers_*.conf at the same time caused the #723

[2021-08-14 23:43] xatier opened #730 "Typo on path name pkg/sysctl"
Hi team,

I noticed we have a typo on package path: `pkg/sysctl`. I noticed the typo [here](https://github.com/containers/common/blame/main/README.md#L41) from `README.me`. The directory of this path should be `pkg/sysctl` not [pkg/sysclt](https://github.com/containers/common/tree/main/pkg/sysclt).

I'm not so familiar with the dependencies between `containers/common` and other go packages, hence

[2021-08-16 07:51] saschagrunert commented on #730
Yeah I think we should fix this :+1:

[2021-08-16 12:23] rhatdan commented on #730
Yes please open a PR and move it.

[2021-08-17 03:16] xatier commented on #729
Which part is inconsistent? Can we be specific please?

[2021-08-17 10:38] #730 closed

[2021-08-18 05:02] unknowndevQwQ commented on #729
There are some values used in containers.conf that do not appear in testdata

[2021-08-24 07:57] cyphar commented on #631
Was there ever a runc bug report opened about this issue? I can't seem to find it.

[2021-08-24 09:09] vrothberg commented on #580
Fixed by @rhatdan in #621, thanks!

[2021-08-24 09:09] #580 closed

[2021-08-24 10:25] giuseppe commented on #631
AFAIK there is no issue in upstream runc.  The problem existed with the old runc version we've used that didn't know about `defaultErrno`

[2021-08-24 13:07] cyphar commented on #631
The way I understood the error message above is that you get the error when generating the seccomp program, not during execution (so it shouldn't be related to defaultErrnoRet?). I ask because we have a bug open for this issue since it seems there's still a bug in runc but everyone has "worked around it" by switching to crun rather than reporting the bug?

[2021-08-24 18:48] giuseppe commented on #631
from what I saw and I could reproduce locally, the `defaultErrno` set to `ENOSYS` is ignored by old runc versions thus adding any other rule that fails with `EPERM` would cause that error, because it is already the default errno.

I could not reproduce the issue with newer runc versions

[2021-08-24 20:17] cevich commented on #631
This was a complex issue to fix, there may be some parts still unaddressed in the older VM images.  In case it helps: https://github.com/containers/common/pull/742 makes them current with what's in podman CI.

[2021-08-29 06:58] siretart opened #750 "passdriver tests fail in debian package"
While updating the Debian package to version 0.42.1, I noticed the newly added passdriver related tests from a774f4e716614991233e8a4d7c72da26da1c3965 fail during the package build:

[code]

I've added `gpg` to the build dependencies to ensure that `/usr/bin/gpg` is available. However, the error diagnostics above are not really helpful to understand why we are getting an unexpected error. Ideally,

[2021-08-30 08:16] vrothberg commented on #750
Thanks for reaching out, @siretart!

@trusch, @ashley-cui, can you take a look?

[2021-08-30 08:35] trusch commented on #750
The tests require a valid gpg secret key with the email tester@localhost. Did you set that up in your test environment?

[2021-08-30 08:38] vrothberg commented on #750
I'd expect the tests to do that automatically ( and to properly clean up after ).

[2021-08-30 09:50] siretart commented on #750
I don't think this is a reasonable assumption for unit tests in a package build. I've disabled the test for now as of this commit: https://salsa.debian.org/go-team/packages/golang-github-containers-common/-/commit/1c1a3f1532d35d8726de2d54c7370ba860d40b6c

Despite the tests not working, the diagnostics produced at runtime are less than ideal. Any chance that the code can be fixed to produce an erro

[2021-08-30 18:58] Hi-Angel opened #751 "`system df` fails with `error locating item named "manifest"`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman system df` results in

[code]

I don't have any unusual setups, nothing I'd deem to be responsible for odd behavior, so I figured it's a bug worth reporting.

**Steps to reproduce the issue:**

1. Run `podman system df`

**Describe the results you received:**

[code]

**Descri

[2021-08-31 09:11] vrothberg commented on #751
Opened https://github.com/containers/common/pull/752

[2021-08-31 10:19] #751 closed

[2021-09-11 12:14] jonpspri opened #762 "Support varying install paths for containers.conf"
Currently, the system locations for `containers.conf` are hardcoded to `/usr/share/containers/containers.conf` for the Default file and `/etc/containers/containers.conf` for the System override.  (And `~/.config/containers/containers.conf` for User overrides, but that's not really at issue in this Issue.)

As we've seen in some other Podman issues, recent versions of MacOS frown on system-level in

[2021-09-20 11:40] giuseppe commented on #729
I am not sure this is a requirement and how it could have helped with #723

[2021-09-24 07:01] dilyanpalauzov opened #783 "containers.conf(5) tautology"
https://github.com/containers/common/blob/main/docs/containers.conf.5.md#containers-table says:

I think repeating “OCI runtime” leads to tautology.

[2021-09-24 14:42] baude commented on #783
suggestions via a PR are welcome

[2021-09-24 18:35] #783 closed

[2021-09-26 09:54] BearWithMeOO opened #789 "Failed to decode the keys ["machine"] from "/usr/share/containers/containers.conf""
After upgrading to _0.46.0_, whenever I use podman commands I receive the following WARN messages:

[code]

[2021-09-26 10:10] rhatdan commented on #789
Did you update  your containers.conf?

[2021-09-26 11:48] BearWithMeOO commented on #789
I'm not sure what you mean.
I upgraded the packages:
`pacman -Syu`

[code]

[2021-09-27 05:48] pschyma commented on #789
Same issue here. A `[machine]` section is present in "/etc/containers/containers.conf" and "/usr/share/containers/containers.conf" (created by Arch).

[code]

Is this enough of configuration?

[2021-09-27 14:32] rhatdan commented on #789
Yes, this means that they are shipping a newer version because we have released a newer version of containers-common, but podman 3.4 has not been released, which should understand the new format.  For now you can safely ignore the error. or edit the containers.conf file to remove the stanza.  Or wait for podman 3.4 to get released.
Either way this is not an upstream podman on common issue.

[2021-09-27 14:32] #789 closed

[2021-09-28 10:10] pboguslawski opened #930 "Hardcoded subnet address"

[2021-10-09 05:42] xatier commented on #729
Sorry, I'm still confused and didn't quite understand what we are trying to do here, would you please provide a few examples of the proposed changes?

[2021-10-10 05:35] unknowndevQwQ commented on #729
For example, `default_capabilities =` not the same

[2021-10-29 20:09] mheon commented on #715
As described this is a breaking change, and I see no reason for it to be. I'd add a separate table, `runtime_args`, that allows us to add per-runtime arguments for the specific runtimes that require them without changing the format of the existing runtimes config.

[2021-10-30 07:26] unknowndevQwQ commented on #715
Can you give an example?

[2021-10-30 08:20] unknowndevQwQ commented on #701
@rhatdan Do you have any ideas?

[2021-10-30 09:17] rhatdan commented on #701
OCIRuntimes is Deprecated.
The name kata is a key name and points to all of the other kata* names if they are installed.

[2021-10-30 09:17] #701 closed

[2021-11-04 19:16] mheon commented on #715
[code]

Similar to this

[2021-11-06 02:49] unknowndevQwQ commented on #715
Why is there a `,` symbol even when there is only one line?

[2021-11-06 02:50] unknowndevQwQ commented on #701
This may need to be changed in the future

[2021-11-08 15:17] mheon commented on #715
TOML formatting allows it, and it simplifies adding new entries.

[2021-11-08 15:40] rhatdan commented on #715
@mheon Do we have this functionality now?  Should we open a PR to add runsc defaults?

[2021-11-08 19:07] rhatdan commented on #715
Ok thanks.

[2021-11-08 21:04] rhatdan commented on #701
Why?

[2021-11-09 01:48] unknowndevQwQ commented on #701
kata-runtime v2 now has four available profiles

[2021-11-12 07:01] unknowndevQwQ commented on #715
Wait, can we set agrs for all OCI runtimes?

e.g. [engine.runtime_flags_global]

[2021-12-15 15:38] liuycsd opened #862 "Unnecessary pids directory created under cgroup v2 root"
I'm running kubernetes v1.22 with cri-o v1.22 on a cgroupv2-enabled node. When starting pods, cri-o still creates `/sys/fs/cgroup/pids/kubepods.slice/xxxxxx`, like what it may do for cgroupv1. Then kubelet reports lots of container /pids/kubepods.slice/xxxxxx not found errors in its logs.

It seems that cri-o uses `github.com/containers/podman/v3/pkg/cgroups`, which was moved to this repository as

[2021-12-16 19:38] rhatdan commented on #862
@giuseppe PTAL

[2021-12-17 08:44] giuseppe commented on #862
No, it is not intentional.  Thanks for tracking this down.

Since you've already done all the analysis, would you mind opening a PR with the fix you've proposed?

[2021-12-23 00:49] liuycsd commented on #862
Sorry, I'm not familiar with this project and also don't want to make my real name public right now. I would appreciate it if someone wants to pick up the issue and sends a fix for it.

[2021-12-23 08:05] giuseppe commented on #862
sure no problem.

Opened the PR here: https://github.com/containers/common/pull/868

[2021-12-23 13:06] #862 closed

[2022-01-05 04:02] grooverdan opened #2277 "remove mask on /sys/dev/block"
The masking of /sys/dev/block was added in 0334b6195820f7261f87a4f4e5d739a6d560f4b2 which constrained the previous /sys/dev masking.

The contents of this filesystem (at least on 5.15.7-200.fc35), is as follows, a bunch of symlinks.
[code]

The locations where these symlinks point to are still accessible in the container:
[code]

The reason this information is useful is that MariaDB uses the major

[2022-01-29 06:52] cnmade opened #912 "podman on macos can not get host.containers.internal"
[code]

try to reach host localhost from container

[code]

nothing happend.

I wish the /etc/hosts of the container should container a record

[code]

but it is not happen

[2022-01-29 06:53] cnmade commented on #912
I test in linux host machine, it works as expect.

[code]

[2022-01-29 07:29] cnmade commented on #912
I also test WSL2 on Windows, then tried podman inside opensuse tumbleweed
It's ok .
[code]

[2022-01-31 13:07] Luap99 commented on #912
For podman machine the entry is not written to /etc/hosts, instead it will get resolved by the gvproxy dns server. Have you checked if nslookup or dig can resolve the name?

[2022-01-31 13:14] cnmade commented on #912
ok。

[2022-01-31 13:14] #912 closed

[2022-02-02 18:12] mtrmac opened #914 "The old v1.0.0 tag breaks updates in users"
E.g.
[code]

Using GOPROXY=direct works around that (the tag has apparently been deleted), but notably Dependabot runs are all failing.  See https://github.com/containers/skopeo/network/updates https://github.com/containers/buildah/network/updates https://github.com/containers/podman/network/updates .

It seem possible to hide the v1.0.0 permanently, see https://go.dev/ref/mod#go-mod-file-retract

[2022-02-02 22:05] mtrmac commented on #914
#916 .

[2022-02-03 18:41] mtrmac commented on #914
Seems to be fixed by #916 .

[2022-02-03 18:41] #914 closed

[2022-02-08 08:13] dvzrv opened #923 "Clarification on tags and notes on removing tags"
Hi, I package this project in the context of a shared configuration setup for a bunch of the containers stuff (as containers-common) on Arch Linux.

We are currently packaging https://github.com/containers/common/releases/tag/v1.0.1, which according to its tag message is not supposed exist:

[code]

It would be nice to elaborate on what this means and how packagers are supposed to react to this ty

[2022-02-08 09:17] vrothberg commented on #923
Thanks for reaching out, and apologies for the inconvenience!

I would not package and ship anything automatically without having read the change log.

For this project here, I would only package it along with Podman.  That means: always ship _exactly_ the same version of c/common that Podman uses.  Otherwise, there is no guarantee of stability or even functionality.  c/common is still under devel

[2022-02-08 13:46] mtrmac commented on #923
Yes, it’s unfortunate. We’ve had to retract v1.0.0 to let automatic dependency checking work as expected, and that requires us to _publish_ a v1.0.1 tag.

We really don’t want to use a v1.x numbering, with the API stability promise implied (and expected by Go tooling).

Now that v1.0.1 has been noticed by the Go module proxy, we could probably untag it again (just like we apparently did untag v1.0

[2022-02-08 18:51] rhatdan commented on #923
I am fine with removing the tag. @vrothberg do you agree?

[2022-02-09 08:56] vrothberg commented on #923
Yes, let's do this :boom:

[2022-02-09 09:00] vrothberg commented on #923
Deleted :heavy_check_mark:

[2022-02-09 09:00] #923 closed

[2022-02-12 09:48] dvzrv opened #925 "Explicitly provide compatible files for podman releases"
This is a follow-up to #923 (specifically https://github.com/containers/common/issues/923#issuecomment-1032383749).

@vrothberg it appears that this does not work because podman and/or this project can not guarantee interoperability for the same version either (right now I'm [pinning the version](https://github.com/archlinux/svntogit-community/blob/18c94809e3ddeb2e0a6abe6fc36c225405884c42/trunk/PK

[2022-02-12 10:46] vrothberg commented on #925
Thanks for reaching out @dvzrv!

I am not sure there is real "insider information".  All dependencies are mentioned in Podman's go.mod file and it seems that all distributions but Arch are using exactly these versions.

I am convinced that's what we're doing.  All dependencies are explicitly mentioned in Podman's go.mod file; no handpicking is required.  We established semantic versioning a couple

[2022-02-12 10:49] vrothberg commented on #925
Regarding https://src.fedoraproject.org/rpms/containers-common/c/4471ed05ed0ce5a6a0b5dedc068978abaa1b1aa5?branch=f35:

Fedora has a `containes-common` RPM package but this is different from this project on GitHub.  The RPM includes man pages, config files and more from c/common, c/storage, c/image, c/shortnames etc.

[2022-02-12 11:52] dvzrv commented on #925
Somewhat related: When looking at dependents of the containers-common package, then cri-o and skopeo are amongst them.
Skopeo in version 1.6.0 (current at the time of writing) [relies on containers/common 0.47.3](https://github.com/containers/skopeo/blob/e4b79d7741c40434838ece2790be537083fc2a04/go.mod#L6), cri-o 1.23.1 (current at time of writing) [relies on a pinned commit somewher past  0.46.1](

[2022-02-14 09:05] vrothberg commented on #925
Can the requirements for skopeo and cri-o be disregarded or do they need mutually exclusive container-common files?

They can be disregarded for the most parts. Skopeo and CRI-O use some of the go packages provided in containers/common.

[2022-02-14 16:35] ajyounge opened #928 "Volumes field should be moved to [containers] table"
I noticed an error in the containers.conf documentation for volume mounts. The [containers.conf documentation](https://github.com/containers/common/blob/main/docs/containers.conf.5.md) lists that container volume mounts should be listed under [network] table,  however in Podman 3.4.2 it is processed under the [containers] table.

From the documentation:
[code]

Working example:
[code]

[2022-02-15 08:42] vrothberg commented on #928
Great catch and thanks for reporting, @ajyounge!

I opened https://github.com/containers/common/pull/929 to fix it.

[2022-02-15 10:54] #928 closed

[2022-02-17 15:28] dvzrv commented on #925
@vrothberg thank you for addressing this! It is much appreciated! <3

[2022-02-17 16:32] vrothberg commented on #925
We discussed the topic in today's community Cabal. You can find notes of the meeting here: https://hackmd.io/gQCfskDuRLm7iOsWgH2yrg?both

In short: we want to simplify the _packaging_ of container-common by adding a new `make` target to Podman. As mentioned before, Podman is the source of truth, so adding a make target there seems like a good approach.

We'll also try to reduce the amount of relea

[2022-02-17 16:32] #925 closed

[2022-02-17 16:44] Foxboron commented on #925
Would it be possible to get a highlight when the change has been proposed on the repos? I'm a tiny bit afraid adding stuff to podman would make it an explicit dependency for buildah which seems weird. It's a bit hard to grasp the proposed solutions mentioned there.

[2022-02-17 16:45] Foxboron commented on #925
Also not sure why Release Candidates are mentioned. We ignore those. Are the RCs tied to our packaging of `containers-common`?

[2022-02-17 16:52] vrothberg commented on #925
Podman sources would only be used to create the sources for the `containers-common` package. Podman would not be a build or runtime-dependency.

I understand that it's complex but I hope that this will make packaging easier.

RCs should be ignored for packaging _stable_ packages.

[2022-02-22 18:33] Rwarcards762 commented on #631
FWIW, if anyone ends up here for `podman` issues regarding this error on RHEL, RHEL 8.4 has a borked version of `runc` whilst updating to RHEL 8.5's bundled `runc` fixes the error. 🚀

[2022-03-11 06:24] kernelmethod opened #958 "Allow rootless containers to use AppArmor profiles"
**TL;DR:** it seems like Podman should be able to load custom AppArmor profiles for a rootless container with some minor changes to the way that this library checks for the existence of a profile.

---

At the moment, Podman doesn't support using an AppArmor profile in a rootless container. As it turns out, though, the only thing that Podman needs root permissions for if you want to use a custom A

[2022-03-11 06:37] kernelmethod commented on #958
If you assume that the profile is loaded then it seems like it's already possible to use a custom profile for a rootless container:

[code]

After building podman with the modified version of `common`:

[code]

So it seems like the main work that would need to be done would just be to use the method described before (using the result of a write to `/proc/self/attr{,/apparmor}/exec`) to check wheth

[2022-03-11 10:42] rhatdan commented on #958
Please open a PR, none of the core maintainers use AppArmor, so enhancements have to come from the community.

[2022-03-16 08:06] #958 closed

[2022-03-22 13:49] vrothberg commented on #750
@trusch @ashley-cui PTAL

The unit tests should work outside of CI and be self-sufficient. The tests could/should create (and remove) gpg keys on demand.

[2022-03-22 14:00] vrothberg commented on #503
@ashley-cui ping

[2022-03-28 13:36] #750 closed

[2022-04-07 17:47] TomSweeneyRedHat opened #996 "log-driver missing valid values in man page"
Per the Podman run man page:

[code]
The man page here doesn't include a number of these options.

[2022-04-18 10:39] frebib opened #1003 "How does versioning work here? Newer versions seem to be missing old commits"
I installed `podman` from Debian experimental (source: ) which includes `containers/common` at version v0.47.5, and I wanted to use the feature that adds `default_subnet_pools` from 9cb71559d5051a8134a5208157a51dedad75b758 yet it appears that this commit is not available in 0.47.5. It is however available in `main`.
Can I safely rebuild podman by pinning `containers/common` to the tip of `main`?
I

[2022-04-18 11:29] frebib opened #1004 "`default_subnet_pools` option doesn't support IPv6 pools"
Despite the warning in the config file, `default_subnet` works fine for IPv6 default subnets. I would expect the newer (unreleased, as I found out in #1003) `default_subnet_pools` option to also support static IPv6 allocations.
https://github.com/containers/common/commit/9cb71559d5051a8134a5208157a51dedad75b758#diff-f38944fdd6507cc37badbde5c66785bdebb77bd6fa2ea0674cd8117f89e95676R280-R299

This is

[2022-04-18 15:31] rhatdan commented on #1003
We should not be removing commits.

Looks like default_subnet_pools support is in podman v4.0.3

The containers-common package includes man pages and default conf files, this package might not be up to date, but Podman has support.

[2022-04-18 17:32] Luap99 commented on #1003
No defaults_subnet_pools should not be in podman 4.0. This will be a podman v4.1 feature.

[2022-04-18 23:04] #1003 closed

[2022-04-19 07:23] Luap99 commented on #1003
To actually answer the question: The versioning is tied to podman/buildah. When we make a new podman/buildah release we make a new c/common release.

It is not a good idea to just upgrade c/common without changes in podman/buildah since this will often break otherwise. Always use the version which is specified in go.mod in podman.

[2022-04-19 07:32] vrothberg commented on #1003
See also https://github.com/containers/common/issues/925 for a similar conversation.

[2022-04-19 22:19] frebib commented on #1004
I'm trying to work on implementing this, but it requires some rewriting of the "find an unused subnet" implementation because the current crude implementation works fine for IPv4 but it's so slow with IPv6 that I've not actually seen it finish yet with a _reasonable_ IPv6 subnet size.
Implementing this with Go 1.16.x compatibility in mind is a LOT harder than it would be if I could just use Go 1.1

[2022-04-19 22:30] frebib commented on #1004
I also just realised that doing IPv6 address addition is going to be near impossible with the limit of `uint64` as the largest native integer size. `netip.Addr` is implemented using a "uint128" composed of two `uint64`: https://cs.opensource.google/go/go/+/master:src/net/netip/uint128.go
It seems a shame to have to reimplement this just to keep compatibility with ancient Go versions

[2022-04-21 06:46] Luap99 commented on #1004
@frebib Thanks for working on this. I think it is best to add this as new `default_ipv6_subnet_pools` field.

We must keep go 1.16 compatibility for at least another 6 months, since this is still needed for fedora 35.

I think the current logic should work fine with ipv6 too, what subnet sizes are you using/testing?

[2022-04-21 06:49] frebib commented on #1004
What's your justification for adding a new field vs using the existing field? (It always upsets me when `ipv6` gets an explicit prefix but ipv4 does not- they're equal)

I can make it work with the net.IP types, no worries.

I was testing with a pool of /32 and subnet sizes of /64 which IMO is a typical usecase

[2022-04-21 07:00] Luap99 commented on #1004
I understand that we could do one field with both subnets and separate them internally in the code. However the problem is that we have a fixed built in default for ipv4. If a user now wants to add another ipv6 subnet they now have to manually add the default ipv4 subnets too because they would get overwritten otherwise.

AFAIK default_subnet_pools should not be in a release yet, so we could renam

[2022-05-10 16:19] ashishth09 commented on #654
Any updates on this issue?

[2022-05-31 17:14] rittneje commented on #654
@mtrmac Following up on this again. I'm also hoping that details on how `--command-timeout` and `--retry-times` interact with each other can be added to the documentation.

[2022-05-31 18:13] mtrmac commented on #654
For the record some of the timeout handling might be improved by https://github.com/containers/common/pull/1051 (but without a testable reproducer we can’t tell for certain).

[2022-05-31 19:54] rittneje commented on #654
@mtrmac Based upon your comment [here](https://github.com/containers/common/pull/1051#issuecomment-1138862689), it sounds like `--command-timeout` is how long the entire command can take, and not how long each retry can take. So it doesn't sound like that alone will not fix this issue. Either `--command-timeout` needs to be redefined to be the per-attempt timeout, or a new flag needs to be added (

[2022-05-31 20:13] mtrmac commented on #654
Yes.

I don’t see how that necessarily follows. The original issue is that I/O timeouts don’t cause a retry. We don’t have a reliable way to test that, but the linked #1051 should help with that, with no new flag being necessary.

(It is plausible that a specific deployment might want to tune the timeout value that is being triggered, in principle; but that’s a different RFE and I somewhat struggl

[2022-05-31 20:38] rittneje commented on #654
@mtrmac The problem with having a timeout for the whole command is that if it eats it up in a single attempt (because it gets stuck during TCP dial), then it won't be able to retry because the context has already expired. What we'd like to say is that an individual attempt should timeout in X seconds. Trying to time out the whole command is unmaintainable when retries and backoffs enter the mix.

[2022-05-31 20:53] mtrmac commented on #654
Ah, that’s a very fair point, we probably do need to expose an overall single-attempt timeout.

That does get tricky, because container images can be dozens of gigabytes large. So while I think that a 30-second timeout for just setting up a TCP connection is just _enough_ (how many times round the Earth is that, at speed of light?), with very slow but fairly reliable links there is probably no glo

[2022-06-02 21:31] nalind opened #1058 "godoc for pkg/retry has unexplained references to "revive" in it"
When I look up the API documentation for the `retry` package using `go doc -all github.com/containers/common/pkg/retry`, I get
[code]
and
[code]

[2022-06-07 13:45] #1058 closed

[2022-06-16 15:04] Qix- commented on #631
I'm on Debian Bullseye facing this issue after building Podman from source. There's no clear fix given that Debian doesn't use Pacman here.

What's the solution? Bullseye is currently the latest version that gets security updates, and current stable podman seems to entirely ignore .containerignore (a separate issue I'm ultimately trying to evaluate).

[2022-06-30 14:26] rhatdan commented on #631
Most likely runc is out of date.

[2022-07-14 18:49] cdoern opened #1091 "implement ssh package"
container/common should be the central location for a ssh package that can support both native ssh as well as golang's package.

Opening this issue as a way to keep track of tasks for this new interface

Phase 1:
- [x] Create a `ConnectionEngine` interface with two distinct pathways
- [x] Define expected behavior, and by default funnel all function calls down either `native` or `golang` paths
- [x

[2022-07-14 18:50] cdoern commented on #1091
/assign cdoern

[2022-07-26 18:50] LetMeyCode opened #1103 "container_linux.go:370:starting container process caused :error adding seccomp filter rule for syscall bdflush:permission denied:OCI Permission denied"
Facing this error while running any container with docker/podman

[2022-07-27 20:38] rhatdan commented on #1103
Try disabling seccomp rules
podman run --security-opt seccomp=unconfined ...

[2022-08-03 07:40] dvzrv opened #1110 "podman does not adhere to path set with LIBEXECDIR (e.g. for catatonit)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman only accepts executables in /usr/libexec/podman (even if `LIBEXECDIR` is set to something else). This conflicts with OSes, that do not use /usr/libexec (e.g. Arch Linux) and package catatonit in /usr/lib/podman/catatonit.

**Steps to reproduce the issue:**

1. `make EXTRA_LDFLAGS='-s -

[2022-08-04 10:30] rhatdan commented on #1110
@dvzrv Interested in opening a PR to change defaults.go to specify the default location of inits_path based on searching        helper_binaries_dir=["/usr/libexec/podman", ...]

[2022-08-04 11:08] dvzrv commented on #1110
I'm afraid my go skills are not really sufficient to do this in a reasonable time frame. Potentially @Foxboron might be interested though!

[2022-08-04 12:53] afbjorklund commented on #1110
I think I used `sed` 🙂

[2022-08-04 13:07] dvzrv commented on #1110
Sure, this can be worked around in downstreams, but doing this for all sorts of packages is not feasible and does not scale at all (especially if you maintain hundreds of packages) :)
This is an easy enough target to get fixed in this upstream to be able to then run well on many downstreams without any modifications at all.

[2022-08-04 13:11] Luap99 commented on #1110
We should keep init_path for backwards compat but if it does not exists we should lookup catatonit in helper_binaries_dir.
A extra helper_binaries_dir can also be set from the podman Makefile via `HELPER_BINARIES_DIR=...`

[2022-08-04 13:51] vrothberg opened #1112 "improve libimage tests"
The tests in `libimage` take way too much time.  I strongly suspect that they are just pulling too many images.  We should consider running a local registry serving as a pull-through cache in CI and other optimizations to prevent the network from turning into a bottleneck.

[2022-08-04 14:09] vrothberg commented on #1112
https://github.com/containers/common/pull/1111 took 43 minutes.  I will also look into updating the CPUs and RAM of the CI VMs.

[2022-08-09 07:44] #1091 closed

[2022-08-18 09:06] arixmkii opened #1123 "FindHelperBinary should support windows"
Current implementation https://github.com/containers/common/blob/main/pkg/config/config.go#L1254 is oversimplified, when looking up binaries in the preconfigured paths. It should better match behavior of exec.LookPath which has dedicated
* [windows version](https://github.com/golang/go/blob/027855e8d86f461b50946b006ea032d4b4a7d817/src/os/exec/lp_windows.go)
* [unix version](https://github.com/gola

[2022-08-19 13:17] arixmkii opened #1124 "Default config for windows machine should not use mounts"
Default mounts are defined here https://github.com/containers/common/blob/main/pkg/config/default.go#L267

On windows it will cause troubles because
* env var $HOME is not defined by default
* if defined it will expand to either both windows or both unix paths, which would then be unusable on either host or guest

It is better to define this as empty for Windows hosts (as of now Qemu on Windows do

[2022-08-20 07:52] arixmkii commented on #1123
Another workaround is to rename gvproxy.exe to gvproxy (w/o extension on win machine). But it is better to have this fixed anyway.

[2022-08-22 08:07] vrothberg commented on #1124
@n1hility PTAL

[2022-08-22 17:39] #1124 closed

[2022-08-22 20:33] rhatdan commented on #1123
Ok will you be preparing a patch?

[2022-08-23 08:08] arixmkii commented on #1123
Will do it this week.

[2022-08-26 08:33] martinetd opened #1134 "make the `cpuset` cgroup optional"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman works, but prints a warning on one of our new boards where we don't have the cpuset cgroup enabled (`CONFIG_CPUSET` requires `CONFIG_SMP` and the system we target only has a single core, so we'd rather not build with SMP  enabled), and in turn disables cgroup isolation for this sys

[2022-08-26 11:29] vrothberg commented on #1103
@LetMeyCode did that work?

[2022-08-26 12:02] giuseppe commented on #1134
opened a PR: https://github.com/containers/common/pull/1135

[2022-09-01 13:17] #996 closed

[2022-09-02 11:26] #1134 closed

[2022-09-09 19:48] mtrmac opened #1152 "ssh client known_hosts handling outstanding work"
- [ ] Interactively prompt for known_hosts inclusion before adding an entry
- [ ] Either make handling of missing known_hosts and known_hosts that miss an entry _for a specific machine_ consistent, or justify the differences
- [ ] Document the rationale for any compromises / deviations from the basic expectation that all ssh connections are secure, except for cases where the user makes an intentio

[2022-10-13 10:31] rhatdan commented on #715
@unknowndevQwQ Interested in working on this one?

[2022-10-13 13:59] unknowndevQwQ commented on #715
Have some interest, but don't know what to do

[2022-10-13 19:33] rhatdan commented on #715
@cdoern PTAL

[2022-10-20 09:11] vrothberg opened #1200 "containers.conf should be cached"
The below strace suggests that containers.conf should be cached.  We are already doing that for [registries.conf](https://github.com/containers/image/blob/main/pkg/sysregistriesv2/system_registries_v2.go#L600).  The idea for registries.conf was to cache directly in the package to prevent users from having to take care of caching.  SIGHUB can be used to trigger reloads (as done with cri-o).

[code]

[2022-10-20 09:13] vrothberg commented on #1200
@rhatdan @baude FYI

[2022-10-20 09:18] vrothberg opened #1201 "netavark.lock is taken 6 times for one `podman run`"
I am unfamiliar with libnetwork, so I have no feeling whether things can be optimized.  Yet, I want to raise the issue.

[code]

FYI @baude @rhatdan @Luap99 @flouthoc

[2022-10-20 09:19] vrothberg commented on #1201
2 times with `--network=host`

[2022-10-20 09:58] Luap99 commented on #1201
Does this include the network teardown operation, i.e. how does it look with `podman run -d ...`?

[2022-10-20 10:15] Luap99 commented on #1201
Also PR https://github.com/containers/podman/pull/16141 will likely add another call to it.

What I do not understand it why does it keep opening the locking several times, the libnetwork code only create it once:
https://github.com/containers/common/blob/c73d138e5848f915539a5369488a2a17c9fb883e/libnetwork/netavark/network.go#L98-L101
so is this something in c/storage/pkg/lockfile which causes the

[2022-10-20 10:28] Luap99 commented on #1201
Running this with a debugger I only see two calls (excluding the NewNetworkInterface call):
First, networkNormalize which is required to get the actual network name from the user input:
[code]
Second, Setup() call which actually sets up the netns:
[code]

[2022-10-20 10:37] Luap99 commented on #1200
The default call is already cached: https://github.com/containers/common/blob/c73d138e5848f915539a5369488a2a17c9fb883e/pkg/config/config.go#L1165

This means that the callers do not use it and call NewConfig("") instead.

[2022-10-28 03:54] ssorce opened #1214 "Vim"
I don't know if this is something, but I cannot use vim to edit a file in a podman machine

[2022-10-28 06:46] vrothberg commented on #1214
Thanks for reaching out! Please open an issue in github.com/containers/podman with a reproducer.

[2022-10-28 06:46] #1214 closed

[2022-10-31 14:53] unknowndevQwQ opened #1215 "A few thoughts on oci runtime and other binary preset paths"
containers.conf:
[code]
[code]
[code]
[code]

In the real world, it is not common to put oci runtime in */sbin, and the path ordering of conmon does not make sense as well as helper_binaries_dir. To make matters worse, containers.conf.5.md records a path that does not match containers.conf

containers.conf.5.md:
[code]

Only some oci runtimes currently add /run/current-system/sw/bin, but NixOS use

[2022-11-17 17:26] vrothberg opened #1234 "containers.conf man page lists wrong capabilities"
Noticed during a presentation yesterday, so I want to create the issue before I forget about it.

`man containers.conf` does not list the same capabilities as are actually used (e.g., mknod is listed in the man page but not used anymore).  I did not take a look; maybe the man pages diverged from the code?

Cc: @rhatdan

[2022-11-18 11:03] rhatdan commented on #1234
Currently the default capabilities in the Red Hat Distros are overridden in containers.conf
[code]
But in containers/common/pkg/default.go they match Docker

[code]

Since we have released for several os versions like this we should probably change containers/common's default going forward. Then we can make the man page match.

[2022-11-22 09:23] vrothberg commented on #1234
That explains it.  Thanks, @rhatdan!

[2022-11-22 15:45] rhatdan commented on #1234
What do you think about changing the defaults in common? And then distros that want the Docker defaults can ship their own containers.conf.

[2022-11-22 15:48] vrothberg commented on #1234
I am very supportive of the idea.  Given we shipped it in Fedora and RHEL for a long while now, we can be confident to not break many users if at all.

[2022-11-22 15:49] vrothberg commented on #1234
If we do it, let's drop a message in the Podman changelog. Maybe in the commit vendoring the changes?

[2022-11-22 15:49] #1234 closed

[2022-11-27 07:27] hmoffatt opened #1246 "Containerfile reference missing reference to read-write bind mount"
https://github.com/containers/common/blob/main/docs/Containerfile.5.md mentions the `read-only` parameter to RUN --mount=type=bind, but does not mention `rw`. The default seems to be read-only = true, though the documentation says it's false.

[2022-11-28 09:06] vrothberg commented on #1246
Thanks for opening the issue, @hmoffatt!

@flouthoc @TomSweeneyRedHat PTAL

[2022-11-28 09:47] flouthoc commented on #1246
@hmoffatt Thanks for reporting, created a PR.

[2022-11-28 11:26] #1246 closed

[2022-11-28 11:52] hmoffatt commented on #1246
Thanks for the prompt attention to this!

[2022-11-30 21:15] mtrmac opened #1248 "Decide what to do about `:tag@digest` changes in Docker"
https://github.com/moby/moby/releases/tag/v20.10.20 has changed `:tag@digest` semantics to a more secure one.

- Do we want that at all? It may break users.
- Now, or only in Podman 5?
- (And if we do, how do we implement that?)